*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

/* Header */

header{
    background:#222;
    color:white;
    padding:15px;
}

header h1{
    text-align:center;
    margin-bottom:15px;
}

/* Navigation */

nav ul{
    display:flex;
    justify-content:center;
    align-items:center;
    list-style:none;
    flex-wrap:wrap;
}

nav ul li{
    position:relative;
}

nav ul li a{
    display:block;
    padding:12px 18px;
    color:white;
    text-decoration:none;
}

nav ul li a:hover{
    background:#ff9800;
    border-radius:5px;
}

/* Active Page */

.active{
    background:#ff9800;
    border-radius:5px;
}

/* Dropdown */

.dropdown-content{
    display:none;
    position:absolute;
    background:white;
    min-width:200px;
    box-shadow:0 5px 10px rgba(0,0,0,.3);
    z-index:100;
}

.dropdown-content li{
    display:block;
}

.dropdown-content li a{
    color:black;
    padding:12px;
}

.dropdown-content li a:hover{
    background:#eeeeee;
}

.dropdown:hover .dropdown-content{
    display:block;
}

/* Hero Section */

.hero{
    height:500px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url("images/banner.jpg");
    background-size:cover;
    background-position:center;
}

.hero h2{
    font-size:45px;
}

.hero p{
    margin:20px;
    font-size:20px;
}

.btn{
    background:#ff9800;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
    font-size:18px;
}

.btn:hover{
    background:#e67e00;
}

/* Cards */

.features{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:50px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:300px;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
}

.card:hover{
    transform:translateY(-8px);
    transition:.3s;
}

.card h3{
    margin-bottom:15px;
    color:#ff9800;
}

/* Forms */

form{
    width:400px;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
}

form h2{
    text-align:center;
    margin-bottom:20px;
}

input,
textarea,
select{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    width:100%;
    padding:12px;
    background:#ff9800;
    color:white;
    border:none;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#e67e00;
}

/* Tables */

table{
    width:90%;
    margin:30px auto;
    border-collapse:collapse;
    background:white;
}

table,th,td{
    border:1px solid #ddd;
}

th{
    background:#222;
    color:white;
    padding:12px;
}

td{
    padding:10px;
    text-align:center;
}

/* Footer */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}